name: Static Website CI/CD

			on:
			  push:
				branches:
				  - main

			jobs:
			  deploy:
				runs-on: ubuntu-latest
				steps:
				  - uses: actions/checkout@v4
				  - run: echo "CI/CD pipeline triggere"
